/*Permet de supprimer le fond blanc lors du remplissage automatique*/
input:-webkit-autofill, input:-webkit-autofill:hover, input :-webkit-autofill:focus{
    -webkit-text-fill-color: #fff;
    transition: background-color 5000s ease-in-out 0s;
}
/*Definition du fond*/
html{ 
    background-image :  url("../images/fond.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

/*Mise en page du body*/
body{
    text-align : center;
    width:80%;
    height:80vh;
    font-family:"Roboto";
    color:#FFFFFF;}

body div {
  text-align : center;
  background-position:center top;
  box-shadow: 2px 1px 7px 1px #000000;}

#id{
box-shadow: 2px 1px 7px 1px #000000;}

div{
    text-align:center;
    line-height:50px;
    font-size:1.5em;
    position:absolute;
    font-family:"Roboto";
    left:10%;
    top:40%;}

h1{
    text-align:center;
    font-size:3em;
    font-family:"Roboto";
    position:absolute;
    left:6%;
    top:20%;}

#button{
    width:40%;
    height:3vh;
    font-family:"Roboto";
    color:white;
    font-size: 20px;
}


 #Retour{
    position:absolute;
    left:0%;
    top:00%;
    margin-left: 10px;
}

input{
  background: transparent;
}
