<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>CaParZone</servlet-name>
        <servlet-class>Servlet.CaParZone</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CaParClient</servlet-name>
        <servlet-class>Servlet.CaParClient</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListeCommandes</servlet-name>
        <servlet-class>Servlet.ListeCommandes</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CaParProduit</servlet-name>
        <url-pattern>/CaParProduit</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CaParZone</servlet-name>
        <url-pattern>/CaParZone</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CaParClient</servlet-name>
        <url-pattern>/CaParClient</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListeCommandes</servlet-name>
        <url-pattern>/ListeCommandes</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            <!-- Contrôle le temps au bout duquel une session inactive est détruite automatiquement -->
            300
        </session-timeout>
    </session-config>
    <servlet>
        <servlet-name>LoginController</servlet-name>
        <servlet-class>Controller.LoginController</servlet-class>
        <!-- Les identifiants pour se connecter -->
        <init-param>
            <param-name>login</param-name>
            <param-value>untel</param-value>
        </init-param>
        <init-param>
            <param-name>password</param-name>
            <param-value>ABCD</param-value>
        </init-param>
        <init-param>
            <param-name>userName</param-name>
            <param-value>Administrateur</param-value>
        </init-param>
    </servlet>
    <servlet>
        <servlet-name>CaParProduit</servlet-name>
        <servlet-class>Servlet.CaParProduit</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginController</servlet-name>
        <url-pattern>/LoginController</url-pattern>
    </servlet-mapping>
    <!-- Un filtre qui vérifie que l'utilisateur est connecté -->
    <filter>
        <filter-name>ProtectedPagesFilter</filter-name>
        <filter-class>Filters.ProtectedPagesFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>ProtectedPagesFilter</filter-name>
        <url-pattern>/protected/*</url-pattern>
        <dispatcher>REQUEST</dispatcher>
    </filter-mapping>
    <!-- Un listener qui compte le nombre d'utilisateurs connectés à l'application -->
    <listener>
        <description>Counting connected users</description>
        <listener-class>Listeners.CountingUsers</listener-class>
    </listener>
    <welcome-file-list>
        <!-- Page sur laquelle s'ouvre l'application -->
        <welcome-file>LoginController</welcome-file>
    </welcome-file-list>
</web-app>
